$myFont:Helvetica,sans-serif;
$myFontSize:14px;
$spanFontSize:13px;
$spanColor:rgba(0, 0, 0, 0.342);

*{
    margin: 0;
    padding: 0;
}
body{
    font: {
        family:$myFont;
        size: $myFontSize;
        // overflow: hidden;

    }
    .banner-img {
        position: absolute;
        width: 620px;
        
        height: 700px;
      left: 0px;
     top: 1px;
    }
   .blog{
       margin-top: 200px;
       margin-bottom: 180px;
     
    //    margin: 20;
       padding: 5;
    // display: flex;
    // flex-direction: column;
    // border: 1px solid white;
    // justify-content: center;
    
    // width: 70px;
    // height: 70px;
    // // padding: 10px;
    // border-radius: 48px;

   }
    span{
        font-size: $spanFontSize;
        color: $spanColor;
    }
    .congo-img{
        width: 50px;
        height: 50px;
        margin-bottom: 3px;
    }
    .para-class{
        font-size: $spanFontSize;
        color: $spanColor;
    }

    
}